

<link rel="stylesheet" type="text/css" href="header.component.css">

<div class="card-container">
  <th></th>
    <a class="card" target="_blank" rel="noopener" (click)="login()">Login        
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>    
      </a>
      <th></th>
    <a class="card" target="_blank" rel="noopener" (click)="register()">Register      
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>    
      </a>
<th></th>
      <a class="card" target="_blank" rel="noopener" (click)="home()">Home     
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>    
      </a>